<%= form_for(@phone, html: {class: "basic-grey"}) do |f| %>
  <% if @phone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phone.errors.count, "error") %> prohibited this phone from being saved:</h2>

      <ul>
      <% @phone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <h1>Phones</h1>

  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :contact_id %><br>
    <%= collection_select(:phone, :contact_id, @contact_options_for_select, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "button" %>
    <%= link_to 'Back', phones_path, class: "button" %>
  </div>
<% end %>
